:root{
    --pink: #eabcdd;
    --lightpink: #f0dfea;
    --white: #f7f6f5;
    --lilla: #ddd1e9;
    --azzurre: #a4b5d5;
    --black: #222222ba;

    --text: "Lato", sans-serif;
    --title: "Kalnia", serif;
    --cursive:"Playwrite HR Lijeva", cursive;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #222;
}
/*navbar*/
nav{
    display: flex;
    height: 80px;
    background: var(--azzurre);
    width: 100vw;
    position: fixed;
    justify-content: space-between;
    box-shadow: 2px 2px 55px #222222a2;
}
nav .logo img{
    width: 90px;
    margin: 20px;
    box-shadow: 2px 2px 15px #2222228a;
    border-radius: 5px;
}
.menu{
    width: 100%;
    padding: 30px;
}
.menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul li a{
    color: var(--white);
    font-family: var(--cursive);
    font-size: 20px;
    cursor: pointer;
    text-shadow:  2px 2px 15px #2222228a;
}
.menu ul li a:hover{
    color: var(--pink);
}
.nav-icons{
    display: flex;
    margin: 30px;
    justify-content: space-between;
    width: 100px;
    color: var(--white);
}
.nav-icons i{
    font-size: 25px;
}
/*banner*/
.hero{
    background-image: linear-gradient(180deg, var(--lightpink) 50%, var(--white) 50%);
    height: 120vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero h1{
    color: var(--white);
    font-family: var(--title);
    font-size: 50px;
    text-shadow:  2px 2px 15px #2222228a;
}
.hero p{
    font-family: var(--text);
    font-size: 20px;
    color: var(--black);
}
.hero img{
    width: 800px;
}

/*about*/
.about{
    background-image: linear-gradient(90deg, var(--lightpink) 50%, #f0dfea98 50%);
    height: 70vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-img, .about-desc{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-img img{
    width: 100%;
    height: 70vh;
    opacity: .8;
    padding: 3px;
    z-index: 1;
}
.about-desc{
    z-index: 2;
}